<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            {% block title %}
            SMC
            {% endblock %}
        </title>
</head>
<body>

    {% block navbar %}
        <a href="/">
            <h1>SMC</h1>
        </a>
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'smc:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'smc:login' %}">Login</a>
        {% endif %}
        
        <hr>
    {% endblock %}

    {% block heading %}
    {% endblock %}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    
    {% endblock %}

</body>
</html>